.hourglass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .loader {
    width: 50px;
    height: 50px;
    transition: 0.5s ease-in-out;
    animation: loaderAnim 1s infinite;
    background: conic-gradient(
        from 90deg,
        transparent 12.5%,
        #a3a3a3 12.5%,
        #e0e0e0 37.5%,
        transparent 37.5%,
        transparent 62.5%,
        #675f61 62.5%,
        #655656 87.5%,
        transparent 87.5%
      )
      50% 50%/32% 50% no-repeat;
  }
}

@keyframes loaderAnim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
